<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="app" xsi:type="File"
        layout="${message}"
        fileName="C:/Data/CanLogs/app.txt"
        keepFileOpen="false"
        encoding="iso-8859-2" />
    <target name="can" xsi:type="File"
        layout="${message}"
        fileName="C:/Data/CanLogs/can.txt"
        keepFileOpen="false"
    encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="app" minlevel="Debug" writeTo="app" />
    <logger name="can-message" minlevel="Debug" writeTo="can" />
  </rules>
</nlog>